* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	font-size: 16px;
}

body {
	padding-bottom: env(safe-area-inset-bottom);
}

*:hover,
*:focus,
*:active {
	outline: 0;
	-moz-outline: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea,
button {
	border: none;
	font-family: "Helvetica", sans-serif;
	padding: 0;
	border: 0;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	resize: none;
	font-size: 15px;
}

button {
	border: none;
	background-color: transparent;
}

img {
	width: 100%;
	vertical-align: middle;
}

select {
	border: none;
	-webkit-appearance: none;
}

@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

	/* scroll bar style setting */
	::-webkit-scrollbar {
		width: 4px;
		height: 8px;
	}

	::-webkit-scrollbar-thumb {
		background: #B9BDC5;
		border-radius: 20px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 20px;
	}
}