.wrap {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header {
	flex: none;
	@include d_f(flex, none, center);
	width: 100%;
	height: 50px;
	padding: 4px 15px;
	background-color: #fff;
	box-shadow: rgba(0, 51, 102, 0.1) 0px 2px 8px;
	color: #333;

	a+a {
		margin-left: 20px;
	}
}

.funcBox {
	padding: 4px;
}

.normal_msgl {
	@include d_f(flex);

	&:before {
		content: attr(data-msg);
		// width: 75px;
	}
}

.normal_btn {
	min-width: 50px;
	height: 40px;
	padding: 4px 12px;
	background-color: #6700f4;
	color: #fff;
	border-radius: 4px;
}

.showAdd {
	._edit {
		display: none;
	}
}

.showEdit {
	._add {
		display: none;
	}
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	padding: 12px;
	background-color: rgba(0, 0, 0, .7);

	// .alert_box
	&_box {
		@include d_f(flex);
		flex-direction: column;
		width: 100%;
	}

	// .alert_head
	&_head {
		@include d_f(flex, none, center);
		width: 100%;
		height: 50px;
		padding: 4px 12px;
		background-color: #1e2841;
		color: #fff;
		font-size: 20px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}

	// .alert_body
	&_body {
		padding: 12px;
		background-color: #34446e;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	// .alert_inp
	&_inp {
		width: 100%;
		height: 40px;
		padding: 4px 12px;
		background-color: #fff;
		color: #75829b;
		font-size: 16px;
		border: 1px solid rgba(0, 0, 0, .32);

		&+& {
			margin-top: 12px;
		}
	}

	// .alert_funcbox
	&_funcbox {
		@include d_f(flex, center, center);
		width: 100%;
		height: 50px;
		margin-top: 12px;

		.normal_btn+.normal_btn {
			margin-left: 12px;
		}
	}
}

.content {
	overflow-x: hidden;
	overflow-y: auto;
	@include d_f(flex);
	flex-direction: column;
}

.accounting {
	padding: 20px;


	// .accounting_item
	&_item {
		width: 100%;
		margin-bottom: 20px;
		padding: 10px 15px;
		background-color: #fff;
		box-shadow: 0 4px 6px #0000001a;
		border-radius: 12px;
		border: 1px solid #0000001a;

		// .accounting_item_title
		&_title {
			@include d_f(flex, none, center);
			height: 40px;
			color: #373737;
			font-size: 14px;
			font-weight: 500;
		}

		// .accounting_item_total
		&_total {
			color: #373737;
			font-weight: 700;
			font-size: 18px;

			&::before {
				content: attr(data-left);
			}
		}

		// .accounting_item_name
		&_name {
			@include d_f(flex, space-between);
			font-size: 18px;
			font-weight: 500;

			&::before {
				content: "$ " attr(data-money);
				order: 1;
			}
		}

		// .accounting_item_date
		&_date {
			margin-top: 10px;
			color: #707070;
		}

	}

	// .accounting_group
	// &_group {
	// 	color: #ffffff;

	// 	&+.accounting_title {
	// 		margin-top: 8px;
	// 	}

	// 	// .accounting_group_title
	// 	&_title {
	// 		@include d_f(flex, none, center);
	// 		width: 100%;
	// 		height: 40px;
	// 		background-color: #1E2841;
	// 	}

	// 	// .accounting_group_list
	// 	&_list {
	// 		@include d_f(flex, none, center);
	// 		min-height: 40px;
	// 	}

	// 	// .accounting_group_detail
	// 	&_detail {
	// 		@include d_f(flex, none, center);
	// 		height: 40px;
	// 	}
	// }

	// .accounting_span1
	&_span1 {
		width: 90px;
		padding: 4px;
	}

	// .accounting_span3
	&_span3 {
		flex: none;
		width: 80px;
		padding: 4px;
		text-align: center;
	}

	// .accounting_span2
	&_span2 {
		flex: 1 1 auto;
		padding: 4px;
		text-align: left;
	}
}

.normal_tb {
	width: 100%;
	table-layout: fixed;
	color: #ffffff;
}

th,
td {
	padding: 5px;
}

.accounting_product {
	text-align: left;
}

.accounting_amount,
.accounting_mode {
	width: 75px;
	text-align: center;
}

.news {
	padding: 15px;
	color: #fff;

	// .news_item
	&_item {
		padding: 16px 0;

		&+& {
			border-top: 2px solid #323232;
		}
	}

	// .news_pic
	&_pic {
		overflow: hidden;
		margin-bottom: 16px;
		border-radius: 8px;

		img {
			border-radius: 8px;
		}
	}
}