.wrap {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header {
	flex: none;
	@include d_f(flex, none, center);
	width: 100%;
	height: 75px;
	padding: 16px 24px;
	background-color: #fff;
	// background-color: map-get($dark_color , home_title_bd);
	// box-shadow: rgba(0, 51, 102, 0.1) 0px 2px 8px;
	--tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, var(--tw-shadow);
	color: #333;

	a+a {
		margin-left: 4px;
	}

	// .header_title
	&_title {
		@include d_f(flex, center, center);

		// .header_title_icon
		&_icon {
			flex: none;
			@include d_f(flex, center, center);
			width: 40px;
			height: 40px;
			margin-right: 10px;
			--tw-gradient-to: var(--color-blue-600);
			// background-image: linear-gradient(to bottom right in oklab, #000 0%, #0000 100%);
			background-image: linear-gradient(to bottom right in oklab,
					oklch(20.8% .042 265.755) 0%,
					oklch(54.6% .245 262.881) 100%);
			border-radius: 12px;

			svg {
				color: #fff;
			}
		}

		// .header_title_h1
		&_h1 {
			color: #0f172b;
			font-size: 18px;

			&:after {
				display: block;
				content: attr(data-en);
				color: #62748e;
				font-size: 12px;
			}
		}
	}
}


.nav {
	@include d_f(flex, none, center);
	margin-left: auto;

	// .nav_link
	&_link {
		@include d_f(flex, none, center);
		padding: 11px 16px;
		font-size: 14px;
		line-height: 14px;
		color: #45556c;
		border-radius: 12px;

		&.router-link-active,
		&.router-link-exact-active {
			background-color: #0f172b;
			color: #fff;
		}

		svg {
			display: block;
			margin-right: 4px;
			width: 16px;
			height: 16px;
			vertical-align: middle;

		}
	}
}

.content {
	padding: 24px;

	// .content_h1
	&_h1 {
		display: block;
		font-size: 36px;

		&::after {
			display: block;
			content: attr(data-txt);
			font-size: 16px;
			color: #45556c;
		}
	}
}

.filter {
	margin-top: 32px;

	// .filter_title
	&_title {
		margin-bottom: 20px;
		font-size: 18px;
	}

	// .filter_box
	&_box {
		@include d_f(flex);
	}
}

.acc {

	// .acc_lists
	// .acc_lists_title
	&_title {
		content: "共" +attr(data-txt)+"筆交易";
	}
}

.normal_shadow {
	padding: 24px;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
	border-radius: 12px;
	background-color: #fff;

	&+.normal_shadow {
		margin-top: 20px;
	}
}

.normal_inp {
	position: relative;
	display: block;
	width: 100%;
	height: 36px;
	padding: 4px 12px 4px 40px;
	box-shadow:
		0 0 #0000,
		0 0 #0000,
		0 0 #0000,
		0 0 #0000,
		0 1px 3px 0 #0000001a,
		0 1px 2px 0 #0000000d;
	border-radius: 12px;
	border: 1px solid #f0f2f5;

	svg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 20px;
		display: block;
		width: 16px;
		height: 16px;
		margin: auto;
		color: #90a1b9;
		transform: translateX(-50%);
	}

	input {
		width: 100%;
		height: 100%;

	}
}

.normal_sel {
	flex: none;
	width: 160px;
	height: 36px;
	margin-left: 15px;
	padding: 8px 12px;
	box-shadow:
		0 0 #0000,
		0 0 #0000,
		0 0 #0000,
		0 0 #0000,
		0 1px 3px 0 #0000001a,
		0 1px 2px 0 #0000000d;
	border-radius: 12px;
	border: 1px solid #f0f2f5;

	// .normal_sel_ul
	&_ul {
		display: none;
	}

	// .normal_sel_txt
	&_txt {
		font-size: 14px;
		color: #030b1c;
	}
}

.normal_tb {
	width: 100%;
	margin-top: 20px;
	color: #030b1c;
	text-align: left;
	font-size: 14px;
	border-collapse: collapse;
	border-spacing: 0;

	th {
		height: 40px;
		padding: 0 8px;
	}

	td {
		padding: 8px;
		border-top: 1px solid #e2e8f0;
		font-weight: 500;
	}

	// .normal_tb_edit
	&_edit {
		@include d_f(flex, center, center);
		width: 32px;
		height: 32px;
		border-radius: 12px;

		svg {
			width: 16px;
			height: 16px;
		}

		&:hover {
			background-color: rgb(72, 168, 48);
		}
	}

	tbody tr:hover {
		background-color: #f8fafc;
		;
	}


	.type {
		display: inline-block;
		padding: 2px 8px;
		font-size: 12px;
		color: oklch(32% .12 260);
		background-color: #ebeff5;
		border-radius: 12px;

		&                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .in {
			color: #fcfcfc;
			background-color: #062e6e;
		}
	}
}



















.funcBox {
	padding: 4px;
}

.normal_msgl {
	@include d_f(flex);

	&:before {
		content: attr(data-msg);
		// width: 75px;
	}
}

.normal_btn {
	min-width: 50px;
	height: 40px;
	padding: 4px 12px;
	background-color: #6700f4;
	color: #fff;
	border-radius: 4px;
}

.showAdd {
	._edit {
		display: none;
	}
}

.showEdit {
	._add {
		display: none;
	}
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	padding: 12px;
	background-color: rgba(0, 0, 0, .7);

	// .alert_box
	&_box {
		@include d_f(flex);
		flex-direction: column;
		width: 100%;
	}

	// .alert_head
	&_head {
		@include d_f(flex, none, center);
		width: 100%;
		height: 50px;
		padding: 4px 12px;
		background-color: #1e2841;
		color: #fff;
		font-size: 20px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}

	// .alert_body
	&_body {
		padding: 12px;
		background-color: #34446e;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	// .alert_inp
	&_inp {
		width: 100%;
		height: 40px;
		padding: 4px 12px;
		background-color: #fff;
		color: #75829b;
		font-size: 16px;
		border: 1px solid rgba(0, 0, 0, .32);

		&+& {
			margin-top: 12px;
		}
	}

	// .alert_funcbox
	&_funcbox {
		@include d_f(flex, center, center);
		width: 100%;
		height: 50px;
		margin-top: 12px;

		.normal_btn+.normal_btn {
			margin-left: 12px;
		}
	}
}

.content {
	overflow-x: hidden;
	overflow-y: auto;
	@include d_f(flex);
	flex-direction: column;
}

.accounting {
	padding: 20px;


	// .accounting_item
	&_item {
		width: 100%;
		margin-bottom: 20px;
		padding: 10px 15px;
		background-color: #fff;
		box-shadow: 0 4px 6px #0000001a;
		border-radius: 12px;
		border: 1px solid #0000001a;

		// .accounting_item_title
		&_title {
			@include d_f(flex, none, center);
			height: 40px;
			color: #373737;
			font-size: 14px;
			font-weight: 500;
		}

		// .accounting_item_total
		&_total {
			color: #373737;
			font-weight: 700;
			font-size: 18px;

			&::before {
				content: attr(data-left);
			}
		}

		// .accounting_item_name
		&_name {
			@include d_f(flex, space-between);
			font-size: 18px;
			font-weight: 500;

			&::before {
				content: "$ " attr(data-money);
				order: 1;
			}
		}

		// .accounting_item_date
		&_date {
			margin-top: 10px;
			color: #707070;
		}

	}

	// .accounting_group
	// &_group {
	// 	color: #ffffff;

	// 	&+.accounting_title {
	// 		margin-top: 8px;
	// 	}

	// 	// .accounting_group_title
	// 	&_title {
	// 		@include d_f(flex, none, center);
	// 		width: 100%;
	// 		height: 40px;
	// 		background-color: #1E2841;
	// 	}

	// 	// .accounting_group_list
	// 	&_list {
	// 		@include d_f(flex, none, center);
	// 		min-height: 40px;
	// 	}

	// 	// .accounting_group_detail
	// 	&_detail {
	// 		@include d_f(flex, none, center);
	// 		height: 40px;
	// 	}
	// }

	// .accounting_span1
	&_span1 {
		width: 90px;
		padding: 4px;
	}

	// .accounting_span3
	&_span3 {
		flex: none;
		width: 80px;
		padding: 4px;
		text-align: center;
	}

	// .accounting_span2
	&_span2 {
		flex: 1 1 auto;
		padding: 4px;
		text-align: left;
	}
}


.accounting_product {
	text-align: left;
}

.accounting_amount,
.accounting_mode {
	width: 75px;
	text-align: center;
}

.news {
	padding: 15px;
	color: #fff;

	// .news_item
	&_item {
		padding: 16px 0;

		&+& {
			border-top: 2px solid #323232;
		}
	}

	// .news_pic
	&_pic {
		overflow: hidden;
		margin-bottom: 16px;
		border-radius: 8px;

		img {
			border-radius: 8px;
		}
	}
}