* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  font-size: 16px;
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  font-size: 15px;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  border: none;
  -webkit-appearance: none;
}

@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* scroll bar style setting */
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #B9BDC5;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }
}
.wrap {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: none;
  width: 100%;
  height: 50px;
  padding: 4px 15px;
  background-color: #fff;
  box-shadow: rgba(0, 51, 102, 0.1) 0px 2px 8px;
  color: #333;
}
.header a + a {
  margin-left: 20px;
}

.funcBox {
  padding: 4px;
}

.normal_msgl {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.normal_msgl:before {
  content: attr(data-msg);
}

.normal_btn {
  min-width: 50px;
  height: 40px;
  padding: 4px 12px;
  background-color: #6700f4;
  color: #fff;
  border-radius: 4px;
}

.showAdd ._edit {
  display: none;
}

.showEdit ._add {
  display: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}
.alert_box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.alert_head {
  display: flex;
  align-items: center;
  justify-content: none;
  width: 100%;
  height: 50px;
  padding: 4px 12px;
  background-color: #1e2841;
  color: #fff;
  font-size: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.alert_body {
  padding: 12px;
  background-color: #34446e;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.alert_inp {
  width: 100%;
  height: 40px;
  padding: 4px 12px;
  background-color: #fff;
  color: #75829b;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.32);
}
.alert_inp + .alert_inp {
  margin-top: 12px;
}
.alert_funcbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 12px;
}
.alert_funcbox .normal_btn + .normal_btn {
  margin-left: 12px;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.accounting {
  padding: 20px;
}
.accounting_item {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.accounting_item_title {
  display: flex;
  align-items: center;
  justify-content: none;
  height: 40px;
  color: #373737;
  font-size: 14px;
  font-weight: 500;
}
.accounting_item_total {
  color: #373737;
  font-weight: 700;
  font-size: 18px;
}
.accounting_item_total::before {
  content: attr(data-left);
}
.accounting_item_name {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}
.accounting_item_name::before {
  content: "$ " attr(data-money);
  order: 1;
}
.accounting_item_date {
  margin-top: 10px;
  color: #707070;
}
.accounting_span1 {
  width: 90px;
  padding: 4px;
}
.accounting_span3 {
  flex: none;
  width: 80px;
  padding: 4px;
  text-align: center;
}
.accounting_span2 {
  flex: 1 1 auto;
  padding: 4px;
  text-align: left;
}

.normal_tb {
  width: 100%;
  table-layout: fixed;
  color: #ffffff;
}

th,
td {
  padding: 5px;
}

.accounting_product {
  text-align: left;
}

.accounting_amount,
.accounting_mode {
  width: 75px;
  text-align: center;
}

.news {
  padding: 15px;
  color: #fff;
}
.news_item {
  padding: 16px 0;
}
.news_item + .news_item {
  border-top: 2px solid #323232;
}
.news_pic {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 8px;
}
.news_pic img {
  border-radius: 8px;
}

.icon_home {
  display: block;
  width: 24px;
  height: 24px;
}
.icon_menu {
  display: block;
  width: 22px;
  height: 20px;
}
.icon_msg {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #6700f4;
  fill: #fff;
}
.icon_msg svg {
  width: 20px;
  height: 20px;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  font-size: calc(16px + 8 * (100vw - 320px) / 2240);
}

.loading {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.loading_txt {
  margin-top: 10px;
}
.loading_txt span {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
  animation: loadingTxt 1.5s infinite alternate;
  color: #3e3981;
  font-size: 24px;
}
.loading_txt span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loading_txt span:nth-of-type(3) {
  animation-delay: 0.4s;
}
.loading_txt span:nth-of-type(4) {
  animation-delay: 0.6s;
}
.loading_txt span:nth-of-type(5) {
  animation-delay: 0.8s;
}
.loading_txt span:nth-of-type(6) {
  animation-delay: 1s;
}
.loading_txt span:nth-of-type(7) {
  animation-delay: 1.2s;
}
.loading_mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

@keyframes loadingTxt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pl1__g,
.pl1__rect,
.pl2__rect,
.pl2__rect-g,
.pl3__rect {
  animation: pl1-a 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

.pl1__g {
  transform-origin: 64px 64px;
}

.pl1__rect:first-child {
  animation-name: pl1-b;
}

.pl1__rect:nth-child(2) {
  animation-name: pl1-c;
}

.pl2__rect,
.pl2__rect-g {
  animation-name: pl2-a;
}

.pl2__rect {
  animation-name: pl2-b;
}

.pl2__rect-g .pl2__rect {
  transform-origin: 20px 128px;
}

.pl2__rect-g:first-child,
.pl2__rect-g:first-child .pl2__rect {
  animation-delay: -0.25s;
}

.pl2__rect-g:nth-child(2),
.pl2__rect-g:nth-child(2) .pl2__rect {
  animation-delay: -0.125s;
}

.pl2__rect-g:nth-child(2) .pl2__rect {
  transform-origin: 64px 128px;
}

.pl2__rect-g:nth-child(3) .pl2__rect {
  transform-origin: 108px 128px;
}

.pl3__rect {
  animation-name: pl3;
}

.pl3__rect-g {
  transform-origin: 64px 64px;
}

@keyframes pl1-a {
  from {
    transform: rotate(0);
  }
  80%, to {
    animation-timing-function: steps(1, start);
    transform: rotate(90deg);
  }
}
@keyframes pl1-b {
  from {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    width: 40px;
    height: 40px;
  }
  20% {
    animation-timing-function: steps(1, start);
    width: 40px;
    height: 0;
  }
  60% {
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    width: 0;
    height: 40px;
  }
  80%, to {
    width: 40px;
    height: 40px;
  }
}
@keyframes pl1-c {
  from {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    width: 40px;
    height: 40px;
    transform: translate(0, 48px);
  }
  20% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    width: 40px;
    height: 88px;
    transform: translate(0, 0);
  }
  40% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    width: 40px;
    height: 40px;
    transform: translate(0, 0);
  }
  60% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    width: 88px;
    height: 40px;
    transform: translate(0, 0);
  }
  80%, to {
    width: 40px;
    height: 40px;
    transform: translate(48px, 0);
  }
}
@keyframes pl2-a {
  from, 25%, 66.67%, to {
    transform: translateY(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    transform: translateY(-80px);
  }
}
@keyframes pl2-b {
  from, to {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    width: 40px;
    height: 24px;
    transform: rotate(180deg) translateX(0);
  }
  33.33% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    width: 20px;
    height: 64px;
    transform: rotate(180deg) translateX(10px);
  }
  66.67% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    width: 28px;
    height: 44px;
    transform: rotate(180deg) translateX(6px);
  }
}
@keyframes pl3 {
  from {
    transform: translate(64px, 0);
    width: 64px;
    height: 64px;
  }
  25% {
    transform: translate(0, 0);
    width: 128px;
    height: 32px;
  }
  50% {
    transform: translate(0, 0);
    width: 64px;
    height: 64px;
  }
  75% {
    transform: translate(0, 0);
    width: 32px;
    height: 128px;
  }
  to {
    transform: translate(0, 64px);
    width: 64px;
    height: 64px;
  }
}/*# sourceMappingURL=all.css.map */